.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #000000;   
}


.navbar {
    background-color: #54595E;
}

.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar-nav li {
    margin-right: 3em;
    background-color: #47525E;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

header {
    background-color: #54595E;
}

header h1 {
    color: #FFFBF6;
    font-family: Source Serif Pro;
    font-size: 55px;
    text-transform: uppercase;
}

footer {
    margin-top: 60px;
    padding: 5em;
}

.pilt-ja-tekst {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    margin: 13%;
}

.pilt-ja-tekst p {
    color: white;
}
